# Pandas
파이썬 에서 사용하는 데이터 분석 라이브러리

In [1]:
import pandas as pd

# 1. Series
1차원 데이터 (정수,실수,문자열)

## Series 객체 생성
예) 1월 ~ 4월까지 평균 온도 데이터(-20,-10,10,20)

In [5]:
tmp = pd.Series([-20,-10,10,20])
print(tmp)
tmp

0   -20
1   -10
2    10
3    20
dtype: int64

0   -20
1   -10
2    10
3    20
dtype: int64

In [6]:
tmp[0] #1월 온도

-20

In [7]:
tmp[2] #3월 온도

10

# Series 객체 생성(index 지정)

In [9]:
tmp = pd.Series([-20,-10,10,20],index=['Jan','Feb','Mar','Apr'])
tmp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [10]:
tmp['Jan'] #index 'Jan' [1월]에 해당하는 데이터 출력

-20

In [11]:
tmp['Apr'] #index 'Apr' [4월]에 해당하는 데이터 출력

20

In [ ]:
#tmp['Des'] index 에 없는 [12월]에 해당하는 데이터 출력 ---오류